/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/** @format */
.index-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .index-container a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; }
    .index-container a div {
      background-color: #dfdfdf;
      margin: 10px 25px;
      width: 240px;
      padding: 10px 20px;
      border-radius: 4px; }

/** @format */
.header {
  background: transparent linear-gradient(180deg, #380e7f 0%, #6915cf 100%) 0% 0% no-repeat;
  border-radius: 0 0 36px 36px; }
  .header .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
    font-size: 2rem;
    color: #fff; }
    .header .checkmark img {
      width: 100px; }
    .header .checkmark span {
      color: #380e7f;
      font-size: 4rem;
      padding: 1.5rem;
      border-radius: 50%;
      background-color: #fff; }

.wallet-confirm-body {
  margin: 3rem 1.5rem; }
  .wallet-confirm-body .shadow {
    height: 2px;
    box-shadow: 0px 3px 6px #00000029; }
  .wallet-confirm-body .content-body {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wallet-confirm-body .content-body p {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 4rem;
      font-family: 'Raleway', sans-serif;
      color: #380e7f;
      font-weight: 400; }
    .wallet-confirm-body .content-body div {
      background: transparent linear-gradient(180deg, #6915cf 0%, #380e7f 100%) 0% 0% no-repeat;
      color: #fff;
      font-size: 2.2rem;
      border-radius: 5px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      padding: 1rem 8rem;
      box-shadow: 0px 3px 6px #00000029;
      cursor: pointer; }

.wallet-confirm-footer {
  margin: 3rem 6rem 6rem 6rem;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif; }
  .wallet-confirm-footer p {
    font-size: 2rem;
    text-align: center;
    color: #380e7f; }
    .wallet-confirm-footer p:nth-of-type(2) {
      margin-top: 2rem;
      margin-bottom: 5rem; }
      .wallet-confirm-footer p:nth-of-type(2) span {
        cursor: pointer;
        text-decoration: underline;
        color: #0021f7; }

/** @format */
.bottom-navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #6915cf;
  width: 100%;
  font-family: 'Raleway', sans-serif; }
  .bottom-navbar a {
    text-decoration: none; }
    .bottom-navbar a div {
      color: #ffffff;
      font-size: 1.2rem;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .bottom-navbar a div img {
        width: 20px;
        height: 20px; }
      .bottom-navbar a div p {
        margin-top: 0.4rem; }
        .bottom-navbar a div p.active {
          color: #fbb03b; }

/** @format */
.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .top-navbar a {
    text-decoration: none; }
    .top-navbar a:nth-of-type(1) {
      margin-left: 2rem; }
    .top-navbar a:nth-of-type(3) {
      margin-right: 2rem; }
    .top-navbar a div {
      color: #ffffff;
      padding: 2rem 0;
      font-size: 1.4rem;
      font-family: 'Ralewat', sans-serif;
      height: 1.4rem; }
    .top-navbar a img {
      height: 1.4rem; }
    .top-navbar a:nth-of-type(2) div {
      font-size: 2rem;
      font-weight: 600; }

/** @format */
.header-inverse {
  background: transparent linear-gradient(180deg, #380e7f 0%, #6915cf 100%) 0% 0% no-repeat; }
  .header-inverse .profile-header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 6rem 0;
    color: #fff; }
    .header-inverse .profile-header-body p {
      font-family: 'Raleway', sans-serif;
      font-size: 2rem; }
      .header-inverse .profile-header-body p:nth-of-type(1) {
        font-weight: 700; }
      .header-inverse .profile-header-body p:nth-of-type(2) {
        font-weight: 400;
        text-align: center;
        margin-top: 2rem;
        padding: 0 2rem; }

.profile-form {
  margin-top: -4rem;
  background-color: #fff;
  height: 200px;
  border-radius: 36px 36px 0 0;
  padding: 4rem;
  display: flex;
  flex-direction: column; }
  .profile-form form .input-group {
    display: flex;
    flex-direction: column; }
    .profile-form form .input-group:not(:last-child) {
      margin-bottom: 2rem; }
    .profile-form form .input-group label {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      color: #000000; }
      .profile-form form .input-group label.light-label {
        color: #4d4d4d; }
    .profile-form form .input-group input {
      border: 0;
      background-color: #f2f2f2;
      font-size: 1.4rem;
      padding: 0.6rem 0; }
  .profile-form .profile-cta {
    background: transparent linear-gradient(180deg, #6915cf 0%, #380e7f 100%) 0% 0% no-repeat;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 1rem 5rem;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 10rem; }

.radio-group {
  margin-right: 6rem; }
  .radio-group div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 0.7rem; }

label input:checked ~ .custom-radio {
  background-color: #34c47e;
  border: 1px solid #34c47e; }

label input:checked ~ .custom-radio:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

label .custom-radio {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%; }

label input {
  opacity: 0;
  position: absolute; }

label p {
  color: #969696;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.2rem; }

.date-input {
  color: #f2f2f2; }

.date-input:focus {
  color: #000000; }

/** @format */
.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.actions {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%; }
  .actions div {
    background-color: white;
    margin: 0 2rem;
    border-radius: 10px;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.6rem; }
    .actions div p {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      cursor: pointer; }
      .actions div p:nth-of-type(5) {
        color: red !important; }
      .actions div p:nth-of-type(1) {
        padding-top: 1rem;
        padding-bottom: 3rem;
        color: #767676; }
      .actions div p:not(:first-child) {
        padding: 1.5rem 0;
        color: #050505; }
        .actions div p:not(:first-child):hover {
          background-color: #ccc1ff91; }
    .actions div:nth-of-type(2) {
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      padding: 2rem 0;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      cursor: pointer; }
      .actions div:nth-of-type(2) a {
        color: #000;
        text-decoration: none; }

/** @format */
.header .wallet-header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0; }
  .header .wallet-header-body p {
    font-family: 'Raleway', sans-serif;
    color: #fff; }
    .header .wallet-header-body p:nth-of-type(1) {
      font-size: 1.3rem;
      font-weight: 300; }
    .header .wallet-header-body p:nth-of-type(2) {
      font-size: 3.6rem;
      font-weight: 700;
      margin: 1.5rem 0 0 0; }

.wallet-two-body {
  margin: 3rem 1.5rem; }
  .wallet-two-body .shadow {
    height: 2px;
    box-shadow: 0px 3px 6px #00000029; }
  .wallet-two-body .content-body {
    margin: 3rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wallet-two-body .content-body p {
      font-family: 'Raleway', sans-serif; }
      .wallet-two-body .content-body p:nth-of-type(1) {
        font-weight: 600;
        font-size: 1.4rem;
        color: #380e7f; }
    .wallet-two-body .content-body form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem; }
      .wallet-two-body .content-body form div {
        font-family: 'Raleway', sans-serif; }
        .wallet-two-body .content-body form div:not(:last-child) {
          margin-bottom: 2rem; }
        .wallet-two-body .content-body form div label {
          color: #380e7f; }
          .wallet-two-body .content-body form div label:not(:last-child) {
            margin-right: 3rem; }
          .wallet-two-body .content-body form div label p {
            color: #969696 !important; }
        .wallet-two-body .content-body form div:nth-of-type(1) {
          font-size: 1.4rem; }
          .wallet-two-body .content-body form div:nth-of-type(1) div {
            display: flex;
            margin-top: 1rem; }
        .wallet-two-body .content-body form div:nth-of-type(2) {
          font-size: 1.2rem; }
          .wallet-two-body .content-body form div:nth-of-type(2) input {
            width: 90%;
            margin-top: 1rem;
            padding: 1rem 1.2rem;
            border-radius: 5px;
            border: none;
            box-shadow: inset 0 0 8px #000000;
            font-size: 1rem; }

.payment-input-head {
  margin-right: 0 !important;
  font-size: 1rem !important;
  font-weight: 700; }

.payment-head {
  font-size: 1rem !important;
  font-weight: 700; }

.wallet-two-cta {
  background: transparent linear-gradient(180deg, #6915cf 0%, #380e7f 100%) 0% 0% no-repeat;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 1rem 4rem;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  margin-top: 1rem; }

.wallet-two-transaction-history {
  margin: 2rem 2rem 10rem 2rem;
  background-color: rgba(137, 158, 255, 0.2);
  border-radius: 15px;
  border: 1px solid #380e7f;
  padding: 2rem 0rem 1rem 2rem; }
  .wallet-two-transaction-history .transaction-heading {
    color: #380e7f;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600; }
  .wallet-two-transaction-history .transaction-history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 150px; }
    .wallet-two-transaction-history .transaction-history table {
      margin-top: 2rem; }
      .wallet-two-transaction-history .transaction-history table tr th {
        font-family: 'Raleway', sans-serif;
        color: #380e7f;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: left;
        padding-bottom: 0.5rem; }
        .wallet-two-transaction-history .transaction-history table tr th:nth-of-type(3) {
          text-align: right; }
      .wallet-two-transaction-history .transaction-history table tr td {
        font-family: 'Raleway', sans-serif;
        color: #380e7f;
        font-weight: 400;
        font-size: 1.4rem;
        padding-bottom: 1rem; }
        .wallet-two-transaction-history .transaction-history table tr td.recived {
          color: #00ff00;
          padding-left: 1rem; }
        .wallet-two-transaction-history .transaction-history table tr td.removed {
          color: #ff0000;
          padding-left: 1rem; }
        .wallet-two-transaction-history .transaction-history table tr td:nth-of-type(3) {
          text-align: right; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #9ea9f0;
  border-radius: 500px; }

::-webkit-scrollbar-thumb {
  background-color: #380e7f;
  border-radius: 500px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #380e7f;
  border-radius: 500px; }
