/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/** @format */
.index-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .index-container a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; }
    .index-container a div {
      background-color: #dfdfdf;
      margin: 10px 25px;
      width: 240px;
      padding: 10px 20px;
      border-radius: 4px; }

/** @format */
.header {
  background: transparent linear-gradient(180deg, #380e7f 0%, #6915cf 100%) 0% 0% no-repeat;
  border-radius: 0 0 24px 24px; }
  .header .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 5rem 0;
    font-size: 2rem;
    color: #fff; }

.wallet-confirm-body {
  margin: 3rem 1.5rem; }
  .wallet-confirm-body .shadow {
    height: 2px;
    box-shadow: 0px 3px 6px #00000029; }
  .wallet-confirm-body .content-body {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wallet-confirm-body .content-body p {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 4rem;
      font-family: 'Raleway', sans-serif;
      color: #380e7f;
      font-weight: 400; }
    .wallet-confirm-body .content-body div {
      background: transparent linear-gradient(180deg, #6915cf 0%, #380e7f 100%) 0% 0% no-repeat;
      color: #fff;
      font-size: 2.2rem;
      border-radius: 5px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      padding: 1rem 8rem;
      box-shadow: 0px 3px 6px #00000029;
      cursor: pointer; }

.wallet-confirm-footer {
  margin: 3rem 6rem;
  display: flex;
  flex-direction: column; }
  .wallet-confirm-footer p {
    font-size: 2rem;
    text-align: center;
    color: #380e7f; }
    .wallet-confirm-footer p:nth-of-type(2) {
      margin-top: 2rem; }
      .wallet-confirm-footer p:nth-of-type(2) span {
        cursor: pointer;
        text-decoration: underline;
        color: #0021f7; }

/** @format */
.bottom-navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #6915cf;
  width: 100%; }
  .bottom-navbar a {
    text-decoration: none; }
    .bottom-navbar a div {
      color: #ffffff;
      font-size: 1.2rem;
      padding: 2rem 0; }

/** @format */
.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .top-navbar a {
    text-decoration: none; }
    .top-navbar a:nth-of-type(1) {
      margin-left: 2rem; }
    .top-navbar a:nth-of-type(3) {
      margin-right: 2rem; }
    .top-navbar a div {
      color: #ffffff;
      padding: 2rem 0;
      font-size: 1.4rem;
      font-family: 'Ralewat', sans-serif; }
    .top-navbar a:nth-of-type(2) div {
      font-size: 2rem;
      font-weight: 600; }

/** @format */
.header-inverse {
  background: transparent linear-gradient(180deg, #380e7f 0%, #6915cf 100%) 0% 0% no-repeat; }
  .header-inverse .profile-header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 6rem 0;
    color: #fff; }
    .header-inverse .profile-header-body p {
      font-family: 'Raleway', sans-serif;
      font-size: 2rem; }
      .header-inverse .profile-header-body p:nth-of-type(1) {
        font-weight: 700; }
      .header-inverse .profile-header-body p:nth-of-type(2) {
        font-weight: 400;
        text-align: center;
        margin-top: 2rem; }

.profile-form {
  margin-top: -4rem;
  background-color: #fff;
  height: 200px;
  border-radius: 36px 36px 0 0;
  padding: 4rem;
  display: flex;
  flex-direction: column; }
  .profile-form form .radio-group div {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .profile-form form .input-group {
    display: flex;
    flex-direction: column; }
    .profile-form form .input-group:not(:last-child) {
      margin-bottom: 1rem; }
    .profile-form form .input-group label {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      color: #000000; }
      .profile-form form .input-group label.light-label {
        color: #4d4d4d; }
    .profile-form form .input-group input {
      border: 0;
      background-color: #f2f2f2;
      font-size: 1.4rem;
      padding: 0.3rem 0; }
  .profile-form .profile-cta {
    background: transparent linear-gradient(180deg, #6915cf 0%, #380e7f 100%) 0% 0% no-repeat;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 1rem 5rem;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin-top: 2rem; }
