/** @format */

.header {
  background: transparent
    linear-gradient(180deg, #6915cf, #350b68) no-repeat;
}

.feedback-header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  img {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
  }
  p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    &:nth-of-type(1),
    &:nth-of-type(3) {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
    }
    &:nth-of-type(2) {
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
    }
    &:nth-of-type(4) {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      background-color: #fff;
      color: #380e7f;
      align-self: flex-end;
      margin-right: 1rem;
      padding: 0.5rem 0.3rem;
      border-radius: 12px;
      span {
        border: 1px dotted #380e7f;
        border-radius: 12px;
        padding: 0.2rem 0.8rem;
        margin: 1rem 0;
      }
    }
  }
}
